/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

body{
  padding: 50px;
  display:flex;
  flex-direction: column;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1{
  text-align: center;
}
button{
  margin:auto;
}